{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Leaflet JS -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <!-- Leaflet CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    <!-- Map style -->
    <style>
    #map {
    	height: 600px;
    }
    </style>
{% endblock %}

{% block content %}

    <h1>Bonjour {{ conducteur.prenom }} {{ conducteur.nom }}</h1>
    <h1 id="statut">{{ conducteur.statut }}</h1>

    <p> Voulez vous changer votre statut ? </p>

    <form>
        <input type="button" onclick="conducteur_maj_statut('Libre');" value="Libre">
        <input type="button" onclick="conducteur_maj_statut('Occupé');" value="Occupé">
        <input type="button" onclick="conducteur_maj_statut('En pause');" value="Pause">
        <input type="button" onclick="conducteur_maj_statut('Inactif');" value="Inactif">
    </form>
        
    <div id="map"></div>

    
    <script type="text/javascript">

        // Mettre à jour le statut
        function conducteur_maj_statut(nouveau_statut) {
            var answer = confirm("Etes vous sur de vouloir changer votre statut?");
            if (answer) {
                $.ajax({
                    type: "POST",
                    async: true,
                    url: "/api/conducteur/maj_statut/telephone=" + "{{ conducteur.telephone }}" + "&statut=" + nouveau_statut,
                    success: function(data) {
                        var div = document.getElementById('statut');
                        div.innerHTML = nouveau_statut;
                    }
                });
            }
        }

        // Affichage de la carte
        L.mapbox.accessToken = 'pk.eyJ1IjoibGVtYXgiLCJhIjoidnNDV1kzNCJ9.iH26jLhEuimYd6vLOO6v1g';
        var map = L.mapbox.map('map', 'mapbox.outdoors', {
            maxZoom: 20,
            fullscreenControl: true,
            zoomControl: false
        })
        var layers = {
            "Basique": L.mapbox.tileLayer('mapbox.outdoors').addTo(map),
            "Lumineuse": L.mapbox.tileLayer('mapbox.light'),
            "Sombre": L.mapbox.tileLayer('mapbox.dark'),
            "Comics": L.mapbox.tileLayer('mapbox.comic'),
            "Crayon": L.mapbox.tileLayer('mapbox.pencil')
        }
        L.control.layers(
            layers,
            null,
            {position: 'topleft'}
        ).addTo(map);

        // Position initiale du conducteur
        map.setView([{{ conducteur.lat }}, {{ conducteur.lon }}], 13);
        taxi = L.marker([{{ conducteur.lat }}, {{ conducteur.lon }}]);
        taxi.addTo(map);

        // Rafraîchir la position du conducteur
        function conducteur_rafraichir_position(lat, lon) {
            // Rafraîchir la position sur la carte
            map.removeLayer(taxi);
            map.setView([lat, lon], 13);
            taxi = L.marker([lat, lon]);
            taxi.addTo(map);
            // Envoyer la nouvelle position à la base de données
            $.ajax({
                type: "POST",
                async: true,
                url: "/api/conducteur/maj_position/telephone=" + {{ conducteur.telephone }} + "&lat=" + lat + "&lon=" + lon,
                success: function(data) {
                    statut = data.statut;
                }
            });
        };

        // Geolocalisation via le navigateur
        var geoOptions = {
            enableHighAccuracy: true,
            timeout: 5000
        };
        function geoSuccess(pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;
            conducteur_rafraichir_position(lat, lon)
        };
        function geoError(err) {
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        };
        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);

        // Mettre à jour la position périodiquement
        window.setInterval(function(){
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        }, 3000);
            
    </script>

{% endblock %}