{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Leaflet JS -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <!-- Leaflet CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    <!-- Map style -->
    <style>
    #map {
    	height: 600px;
    }
    </style>
{% endblock %}

{% block content %}

    <h1>Bonjour {{ nom }}</h1>
    <h1>{{ numero }}</h1>
    <h1>{{ lat }}</h1>
    <h1>{{ lon }}</h1>
    <h1>{{ libre }}</h1>
    <head>
        <p> Voulez vous changer votre statut ? </p>
        <script type="text/javascript">

        function libre () {
            var info = {
                    "lon": lon,
                    "lat": lat,
                    "numero" : "{{ numero }}"
                }
            var answer = confirm("Etes-vous libre?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/libre",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(info),               
                success: function(data) {
                         statut = data.statut;
                         console.log(statut);
                    }
                });	
            alert("Votre statut a été mis à jour.")	
            }
        }

        function occupe () {
            var info = {
                    "lon": lon,
                    "lat": lat,
                    "numero" : "{{ numero }}"
                }
            var answer = confirm("Etes-vous occupé?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/occupe",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(info),               
                success: function(data) {
                         statut = data.statut;
                         console.log(statut);
                    }
                });	
            alert("Votre statut a été mis à jour.")	
            }
        }

        function pause () {
            var info = {
                    "lon": lon,
                    "lat": lat,
                    "numero" : "{{ numero }}"
                }
            var answer = confirm("Etes-vous en pause?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/pause",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(info),               
                success: function(data) {
                         statut = data.statut;
                         console.log(statut);
                    }
                });	
            alert("Votre statut a été mis à jour.")	
            }
        }

        function inactif () {
            var info = {
                    "lon": lon,
                    "lat": lat,
                    "numero" : "{{ numero }}"
                }
            var answer = confirm("Etes-vous incatif?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/inactif",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(info),               
                success: function(data) {
                         statut = data.statut;
                         console.log(statut);
                    }
                });	
            alert("Votre statut a été mis à jour.")	
            }
        }
        </script>
    </head>

    <body>
        <form>
            <input type="button" onclick="libre();location.reload()" value="Libre">
            <input type="button" onclick="occupe();location.reload()" value="Occupé">
            <input type="button" onclick="pause();location.reload()" value="Pause">
            <input type="button" onclick="inactif();location.reload()" value="Inactif">
        </form>
    </body>

    <h1 class="ui header">{{ titre }}</h1>

    {% if current_user.is_authenticated %}
    <h2 class="ui header">Bonjour {{ current_user.prenom }}!</h2>
    {% endif %}

    <div id="map"></div>
   
    <script type="text/javascript">
        L.mapbox.accessToken = 'pk.eyJ1IjoibGVtYXgiLCJhIjoidnNDV1kzNCJ9.iH26jLhEuimYd6vLOO6v1g';
        var map = L.mapbox.map('map', 'mapbox.outdoors', {
            maxZoom: 20,
            fullscreenControl: true,
            zoomControl: false
        })
        var layers = {
            "Basique": L.mapbox.tileLayer('mapbox.outdoors').addTo(map),
            "Lumineuse": L.mapbox.tileLayer('mapbox.light'),
            "Sombre": L.mapbox.tileLayer('mapbox.dark'),
            "Comics": L.mapbox.tileLayer('mapbox.comic'),
            "Crayon": L.mapbox.tileLayer('mapbox.pencil')
        }
        L.control.layers(
            layers,
            null,
            {position: 'topleft'}
        ).addTo(map);
        // Centrer la carte sur la position de l'utilisateur
        position = null;
        var geoOptions = {
            enableHighAccuracy: true,
            timeout: 5000
        };
        function geoSuccess(pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;
            position = [lat, lon];

            var info = {
                    "lon": lon,
                    "lat": lat,
                    "numero" : "{{numero}}"
                }
    
		$.ajax({
        		type: "POST",
        		async: true,
        		contentType: "application/json; charset=utf-8",
        		url: "/majlat",
        		data: JSON.stringify(info),
                 success: function(data) {
                     statut = data.statut;
                     console.log(statut);
                 }
            });
       
            marker = L.marker([lat, lon]);
            marker.addTo(map);    
            map.setView(position, 13);
        };
        function geoError(err) {
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        };
        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);

            lat = {{ lon }};
            lon = {{ lat }};
            map.setView({{[lon, lat]}}, 13  );
            marker = L.marker([lat, lon]);
            marker.addTo(map);

        
        window.setInterval(function(){
        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        }, 1000);
            
    </script>

{% endblock %}