{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Leaflet JS -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <!-- Leaflet CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    <!-- Map style -->
    <style>
    #map {
    	height: 600px;
    }
    </style>
{% endblock %}

{% block content %}

    <h1>Bonjour {{ nom }}</h1>
    <h1>{{ numero }}</h1>
    <h1>{{ lat }}</h1>
    <h1>{{ lon }}</h1>
    <h1>{{ libre }}</h1>
    <head>
        <p> Voulez vous changer votre statut ? </p>
        <script type="text/javascript">

        function libre () {
            var answer = confirm("Etes-vous libre?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/libre"
                }).done(function(response) {
				 alert(response)
                        });	
                alert("Votre statut a été mis à jour.")	
                }
        }
        function occupe () {
            var answer = confirm("Etes-vous occupé?")
            if (answer){
                $.ajax({
                type: "POST",
                async: true,
                url: "/occupe"
                }).done(function(response) {
				 alert(response)
				 });
                alert("Votre statut a été mis à jour.")
                }    
        }
        </script>
    </head>

    <body>
        <form>
            <input type="button" onclick="libre();location.reload()" value="Libre">
            <input type="button" onclick="occupe();location.reload()" value="Occupé">
        </form>
    </body>

    <h1 class="ui header">{{ titre }}</h1>

    {% if current_user.is_authenticated %}
    <h2 class="ui header">Bonjour {{ current_user.prenom }}!</h2>
    {% endif %}

    <div id="map"></div>
   
    <script type="text/javascript">
        L.mapbox.accessToken = 'pk.eyJ1IjoibGVtYXgiLCJhIjoidnNDV1kzNCJ9.iH26jLhEuimYd6vLOO6v1g';
        var map = L.mapbox.map('map', 'mapbox.outdoors', {
            maxZoom: 20,
            fullscreenControl: true,
            zoomControl: false
        })
        var layers = {
            "Basique": L.mapbox.tileLayer('mapbox.outdoors').addTo(map),
            "Lumineuse": L.mapbox.tileLayer('mapbox.light'),
            "Sombre": L.mapbox.tileLayer('mapbox.dark'),
            "Comics": L.mapbox.tileLayer('mapbox.comic'),
            "Crayon": L.mapbox.tileLayer('mapbox.pencil')
        }
        L.control.layers(
            layers,
            null,
            {position: 'topleft'}
        ).addTo(map);
        // Centrer la carte sur la position de l'utilisateur
        position = null;
        var geoOptions = {
            enableHighAccuracy: true,
            timeout: 5000
        };
        function geoSuccess(pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;
            position = [lat, lon];

// partie qui fonctionne pas encore //
'''$.ajax({
                type: "POST",
                async: true,
                url: "/majlat"
                data : 
                }).done(function(response) {
				 alert(response)
				 });'''
// fin de la partie qui ne marche pas encore //            

    
            marker = L.marker([lat, lon]);
            marker.addTo(map);    
            map.setView(position, 13);
        };
        function geoError(err) {
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        };
        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);

            lat = {{ lon }};
            lon = {{ lat }};
            
            marker = L.marker([lat, lon]);
            marker.addTo(map);
        

        function rafraichir_positions(){
            $.ajax({
                type: "POST",
                async: true,
                url: "/rafraichir_carte"
            }).done(function(response) {
                afficher_taxi([lat, lon]);
            });
        }

        rafraichir_positions();

            
    </script>

{% endblock %}