{% extends 'admin/master.html' %}

{% block head_css %}
    {{ super() }}
    <style>
    h1{
        color : rgb(84,0,168)
    }
    body{
	   height : 100%;
	   color : rgb(128,0,128);
	   <!--background-image : url("C:/Users/Valentine/Documents/L3 SID/TaxiSID/docProduction/app/static/img/bisounours.jpg")-->;
    }
    <!-- div{
        background-color : rgb(255,255,255)
    } -->
    </style>
{% endblock %}

{% block body %}

<div>

<!--Affichage du titre en gras-->
<br><h1><b><center>Bienvenue dans l'aide</center></b></h1><br>

<!--Détails de chaques vues-->

<!--Vue utilisateur-->
<h2><b>Vue utilisateur<br></b></h2>
<ul><li>Utilisateur contact<br></li></ul>
Informations essentielles liées au contact de chaque utilisateur.<br>
Possibilité de créer, éditer et supprimer des utilisateurs ainsi que de faire une recherche.<br>
<ul><br><li>Utilisateur compte<br></li></ul>
Informations liées au compte de l'utilisateur.<br>
Possibilité de créer, éditer et supprimer des utilisateurs ainsi que de faire une recherche et d'appliquer un filtre.<br>

<!--Vue conducteur-->
<h2><b>Vue conducteur<br></b></h2>
<ul><li>Conducteur contact<br></li></ul>
Informations essentielles liées au contact de chaque conducteur.<br>
Possibilité de créer, éditer et supprimer des utilisateurs ainsi que de faire une recherche.<br>
<ul><br><li>Conducteur situation<br></li></ul>
Informations liées au compte du conducteur ainsi que sa position cartographiée.<br>
Possibilité de créer, éditer et supprimer des conducteurs ainsi que de faire une recherche et d'appliquer un filtre.<br>
<ul><br><li>Conducteur pénalité<br></li></ul>
Informations liées aux possibles pénalités des conducteurs ainsi que sa position cartographiée.<br>
Possibilité de créer, éditer et supprimer des pénalités ainsi que de faire une recherche.<br>

<!--Vue véhicule-->
<h2><b>Vue véhicule<br></b></h2>
<ul><li>Type de véhicule<br></li></ul>
Informations essentielles liées aux véhicules.<br>
Possibilité de créer, éditer et supprimer des utilisateurs ainsi que de faire une recherche et d'appliquer un filtre.<br>
<ul><br><li>Client admis<br></li></ul>
Informations liées à l'admissibilité des clients tels que les VIP ou les mineurs par exemple par le conducteur.<br>
Possibilité de créer, éditer et supprimer des conducteurs ainsi que de faire une recherche.<br>
<ul><br><li>Mode de paiement<br></li></ul>
Informations liées au mode de paiement accepté par le véhicule.<br>
Possibilité de créer, éditer et supprimer des pénalités ainsi que de faire une recherche.<br>

<!--Vue station-->
<h2><b>Vue station<br></b></h2>
Informations, pour chaque station, de sa distance d'entrée et de sortie.<br>
Possibilité de créer, éditer et supprimer des stations.<br>

<!--Vue facture-->
<h2><b>Vue facture<br></b></h2>
Informations liées aux factures tel que le type de forfait, l'estimation, le montant, le rabais ainsi que le type de paiement effectué.<br>
Possibilité de créer, éditer et supprimer des factures.<br>

<!--Vue adresse-->
<h2><b>Vue adresse<br></b></h2>
Informations liées aux adresse de façon compacte et découpée ainsi que sa position cartographiée.<br>
Possibilité de créer, éditer et supprimer des adresses.<br>

<!--Vue course-->
<h2><b>Vue course<br></b></h2>
Informations essentielles liées à chaque course réalisée par un conducteur et pour un utilisateur.<br>
Possibilité de créer, éditer et supprimer des courses.<br>

<!--Vue carte-->
<h2><b>Vue carte<br></b></h2>
Indication de la position de chaque conducteurs.<br>

</div>

<br><br><br><br>

{% endblock %}