{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ titre }}</h1>

	<script language='javascript'>
	     $(document).ready(function(){
	        $('.ui.accordion').accordion();
	     });
	</script>

	<div class="ui centered grid">
		<div class="sixteen wide column">
			<h2 class="ui header">Commandes API</h2>
			<div class="ui styled accordion">
			  	<div class="title">
			    	<i class="dropdown icon"></i>
			    	Données utilisateurs au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/utilisateurs'>679d9dc1.ngrok.io/api/utilisateurs</a>
			    	</p>
			    </div>
			    <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données conducteurs au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/conducteurs'>679d9dc1.ngrok.io/api/conducteurs</a>
			    	</p>
			    </div>
			    <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données adresses au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/adresses'>679d9dc1.ngrok.io/api/adresses</a>
			    	</p>
			  </div>
			  <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données stations au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/stations'>679d9dc1.ngrok.io/api/stations</a>
			    	</p>
			  </div>
			  <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données vehicules au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/vehicules'>679d9dc1.ngrok.io/api/vehicules</a>
			    	</p>
			  </div>
			  <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données courses au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/courses'>679d9dc1.ngrok.io/api/courses</a>
			    	</p>
			  </div>
			  <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données factures au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/factures'>679d9dc1.ngrok.io/api/factures</a>
			    	</p>
			  </div>
			  <div class="title">
			    	<i class="dropdown icon"></i>
			    	Données positions au format JSON			    
			  	</div>
			  	<div class="content">
			    	<p class="transition hidden">
						<a href='http://679d9dc1.ngrok.io/api/positions'>679d9dc1.ngrok.io/api/positions</a>
			    	</p>
			  </div>

			</div>
		</div>
	</div>

{% endblock %}