{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}


	<h1 class = "ui header">{{ titre }}</h1>

	{% if current_user.is_authenticated %}
	  	<h2 class = "ui header">Bonjour {{ current_user.prenom }}!</h2>
	{% endif %}

	<div class = "ui centered grid">
		<div class="left floated four wide column">
			<table>
			{% for key, value in donnees.items() %}
			   <tr>
			        <th> {{ key }} </th>
			        <td> {{ value }} </td>
			   </tr>
			{% endfor %}
			</table><br>
			<button class="ui inverted red primary button">Décliner</button>
			<button class="ui inverted blue primary button" onClick="accepterDevis();">Accepter</button>
		</div>
		<div class="right floated eight wide column">
			<table>
			{% for key, value in devis.items() %}
			   <tr>
			        <th> {{ key }} </th>
			        <td> {{ value }} </td>
			   </tr>
			{% endfor %}
			</table><br>
		</div>
	</div>

	<script type="text/javascript">

	function accepterDevis(){

		var dict = "{{ donnees }}";

		$.ajax({
			url: "/accepter",
			type: "POST",
			async: true,
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify(dict),
			success: function(data) {
                 statut = data.statut
                 if (statut == 'succes') {	
                 	window.location.href='/';
                 }
            }
		});
	}

	</script>

{% endblock %}
