{% extends "layout.html" %} 
{% block head %} 
	{{ super() }} 

<script language='javascript'>
 $(document).ready(function(){
    $('.cookie.nag')
      .nag({
        key      : 'accepts-cookies',
        value    : true
      })
    ;
 });
</script>

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

<!-- Date -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- JavaScript pout récupérer la date -->
<script>
$(function() {
$( "#datepicker" ).datepicker(
    {
        dateFormat: "yy-mm-dd",
        dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
        monthNames: [ "Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre" ]
    }
     );

});
</script>

<div class="ui inline cookie nag">
  <span class="title">
    En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies.
  </span>
  <i class="close icon"></i>
</div>

{% endblock %} 

{% block content %}


<h1 class="ui header">{{ titre }}</h1>
{% if current_user.is_authenticated %}
    <h2 class="ui header">Bonjour {{ current_user.prenom }}!</h2> 
	<h3 class="ui header">Utilisateur connecté.</h3> 
{% else %}
	<h3 class="ui header">Utilisateur non-connecté.</h3> 
{% endif %}


{% if request.MOBILE %}
<div class="ui center raised text container pink segment">
{% else %}
<div class="ui contenu-centre center raised text container pink segment">
{% endif %}
    <form class="ui form" action="/index" method="POST">
        {% if current_user.is_authenticated == false %}      
        <h4 class="ui pink dividing header">Informations utilisateur</h4>  
        <div class="three fields">
            <div class="four wide field">
            {{ m.render_field(form.civilite)}}
            </div>
            <div class="six wide field">
            {{ m.render_field(form.nom)}}
            </div>
            <div class="six wide field">
            {{ m.render_field(form.prenom)}}
            </div>
        </div>
        <div class="two fields">
            <div class="ten wide field">
                <div class="ui left icon input">
                    <i class="call icon"></i>
                    {{ m.render_field(form.telephone)}}
                </div>
            </div>
            <div class="ten wide field">
                <div class="ui left icon input">
                    <i class="mail outline icon"></i>
                    {{ m.render_field(form.mail)}}
                </div>
            </div>
        </div>
        {% endif %}
            <h4 class="ui pink dividing header">Itinéraire</h4>
            <div class="field">
                <div class="two fields">
                    <div class="fourteen wide field">
                    {{ m.render_field(form.adresse_dep) }}
                    </div> 
                </div> 
            <div class="three fields">
                <div class="four wide field">
                    <input type="text" name="date_debut" id="datepicker" placeholder='Départ le' autocomplete="off">
                </div>
                <label> Heure </label>
                <div class="four wide field">
                    {{ m.render_field(form.heures) }}
                </div>
                <label> Minutes </label>
                <div class="four wide field">
                    {{ m.render_field(form.minutes) }}
                </div>
            </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="fourteen wide field">
                    {{ m.render_field(form.adresse_arr) }}
                    </div> 
                </div> 
            </div>
            <!-- <h4 class="ui pink dividing header">Informations complémentaires</h4> -->
            <a href="#" onclick="toggle_visibility('extracontent');"><i class="chevron circle right icon"></i> Informations complémentaires</a>
            <br><br>
            <div id="extracontent" style="display:none;">
                <div class="field">
                    <label>Type de paiement</label>
                    <div class="two fields">
                        <div class="four wide field">
                            {{ m.render_field(form.paiement) }} 
                        </div> 
                    </div>  
                    <label>Nombre de passagers</label>
                    <div class="two fields">
                        <div class="four wide field">
                            {{ m.render_field(form.nb_passagers) }} 
                        </div> 
                    </div> 
                    <label>Commentaire</label>
                    <div class="two fields">
                        <div class="ten wide field">
                            {{ m.render_field(form.commentaire) }} 
                        </div> 
                    </div>           
                </div>
            </div>
            {{ form.csrf_token }}
            <br><button class="fluid ui inverted blue button" type="submit">Établir un devis prévisionnel</button>
        </form>
    </div>
</div>

{% endblock %}
